node_modules
**/node_modules
.git
**/.git
dist
**/dist
build
**/build
.next
**/.next
out
**/out
.cache
**/.cache
.replit
**/.replit
*.log
**/*.log
*.mjs.map
**/*.mjs.map
*.tsbuildinfo
**/*.tsbuildinfo
pnpm-debug.log
